<?xml version="1.0"?>
<launch>
  <!-- Arguments -->

  <!-- Raspicat speak -->
  <node pkg="raspicat_speak" type="raspicat_speak_node" name="raspicat_speak_node" 
        clear_params="true" respawn="true" output="screen">
    <rosparam command="load" file="$(find raspicat_speak)/config/speak_list.yaml"/>
  </node>
</launch>